
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal-{{ categorie_recommand.id }}">
    Delete
</button>
<div class="modal fade" id="deleteModal-{{ categorie_recommand.id }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
     
            <div class="modal-body">
                Are you sure you want to delete {{categorie_recommand.titre }}?
            </div>
            <body style="background-image: url('{{ asset('img/bg-404.jpeg') }}');">
            <div class="modal-footer">
                <form method="post" action="{{ path('app_categorie_recommand_delete', {'id': categorie_recommand.id}) }}" >
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorie_recommand.id) }}">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>