{% extends 'adminbase.html.twig' %}

{% block stylesheet %}
  {{parent()}}
{% endblock %}


{% block Dashboard %}
    <div class="main-panel">
          <div class="container">
            <div class="page-inner">
              <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4" >
               
                            <div>
                              <h3 class="fw-bold mb-3">Dashboard</h3>
              
                           </div>
              
                </div>

                      <table id="myTable" class="table" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nom</th>
                                    <th>Email</th>
                              
                                    <th>Designation</th>
                                  
                                    <th>actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for docteur in docteurs %}
                                <tr>
                                    <td>{{ docteur.id }}</td>
                                    <td>{{ docteur.nom }}</td>
                                    <td>{{ docteur.email }}</td>
                                  
                                    <td>{{ docteur.designation }}</td>
                                   
                                    <td>
                                        <a href="{{ path('app_docteur_show', {'id': docteur.id}) }}" class="btn btn-success">show</a>
                                        
                                        <a href="{{ path('app_docteur_edit', {'id': docteur.id}) }}"class="btn btn-info">edit</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="7">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <a href="{{ path('app_docteur_new') }}" class="btn btn-primary">Create new</a>
              </div>
           </div>
          

     
    
          {% block footer %}



                
                <footer class="footer">
                  <div class="container-fluid d-flex justify-content-between">
                    <nav class="pull-left">
                      <ul class="nav">
                      
                      
                      </ul>
                    </nav>
                    <div class="copyright">
                      2024, made with <i class="fa fa-heart heart text-danger"></i> by
                      <a href="http://www.themekita.com">Symfony</a>
                    </div>
                    <div>
                      Distributed by
                      <a target="_blank" href="https://themewagon.com/">Mon_Site</a>.
                    </div>
                  </div>
                </footer>
              

          {% endblock %}
     </div> 


 {% endblock %}

   

