{% extends 'adminbase.html.twig' %}

{% block stylesheet %}
 {{parent()}}
{% endblock %}
{% block sidebar %}
  {{parent()}}
{% endblock %}

 {% block Dashboard %}
    <div class="main-panel">
          <div class="container">
            <div class="page-inner">
              <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4" >
               
                            <div>
                              <h3 class="fw-bold mb-3">Dashboard</h3>
              
                           </div>
              
                    </div>
                  <table id="myTable"class="table" width="100%">
                          <thead>
                              <tr>
                                  <th>Id</th>
                                  <th>Titre</th>
                                 
                                  <th>actions</th>
                              </tr>
                          </thead>
                          <tbody>
                          {% for souscategorie_recommand in souscategorie_recommands %}
                              <tr>
                                  <td>{{ souscategorie_recommand.id }}</td>
                                  <td>{{ souscategorie_recommand.titre }}</td>
                               
                                  <td>
                                      <a href="{{ path('app_souscategorie_recommand_show', {'id': souscategorie_recommand.id}) }}"class="btn btn-success" class="btn btn-secondery">show</a>
                                      <a href="{{ path('app_souscategorie_recommand_edit', {'id': souscategorie_recommand.id}) }}"class="btn btn-primary"class="btn btn-primary">edit</a>
                                  </td>
                              </tr>
                          {% else %}
                              <tr>
                                  <td colspan="4">no records found</td>
                              </tr>
                          {% endfor %}
                          </tbody>
                      </table>

                      <a href="{{ path('app_souscategorie_recommand_new') }}" class="btn btn-primary">Create new</a>

              </div>
           </div>
          

     
    
          {% block footer %}



                
                <footer class="footer">
                  <div class="container-fluid d-flex justify-content-between">
                    <nav class="pull-left">
                      <ul class="nav">
                      
                      
                      </ul>
                    </nav>
                    <div class="copyright">
                      2024, made with <i class="fa fa-heart heart text-danger"></i> by
                      <a href="http://www.themekita.com">Symfony</a>
                    </div>
                    <div>
                      Distributed by
                      <a target="_blank" href="https://themewagon.com/">Mon_Site</a>.
                    </div>
                  </div>
                </footer>
              

          {% endblock %}
     </div> 


 {% endblock %}




    
          
           
          
{% block javascript %}
  {{parent()}}            
{% endblock %}
